.item {
    border-radius: 50%;
}

.name {}

.avatar {}

.status {
    display: flex;
    position: relative;
    left: 104%;
    bottom: -40%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}