.stats {
    margin-top: 40px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(19, 19, 19, 0.3);
    background-color: var(--color-table);

}


.title {
    font-size: 60px;
    text-align: center;
}

.statisticsList {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 100px;
    font-weight: bold;
}

.label {
    font-size: 15px;
    color: white;
    color: black;
    padding-right: 5px;
}

.percentage {
    font-size: 20px;
    font-weight: bold;
}